<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mriya="http://github.com/xiaofengzhouxf/mriya"
	xsi:schemaLocation="  
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd  
http://github.com/xiaofengzhouxf/mriya http://github.com/xiaofengzhouxf/mriya/mriya.xsd">

	<bean id="demo" class="mriya.spring.Demo" />
	<mriya:server id="hello" service="demo" serviceInterface="mriya.spring.Hello" />
</beans> 